
.dgSpf-hero__single {
  position: relative;
}
.dgSpf-hero__content {
  position: absolute;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.79) 0%, rgba(0, 0, 0, 0) 100%);
  width: 100%;
  text-align: center;
  padding: 120px 30px 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 3;
}
.dgSpf-hero__content h2 {
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--ff-body);
  letter-spacing: 0.6px;
  margin-bottom: 8px;
}

.dgSpf-hero__swiper [class^="swiper-button-"] {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 50px;
  height: 50px;
  background-color: #fff;
  cursor: pointer;
}

.dgSpf-hero__swiper .swiper-button-prev {
  left: 47.5%;
}
.dgSpf-hero__swiper .swiper-button-next {
  left: 52.5%;
}
.dgSpf-hero__swiper .swiper-button-prev::after {
  background-image: url('../../assets/swiper-left-icon.png');
}
.dgSpf-hero__swiper .swiper-button-next::after {
  background-image: url('../../assets/swiper-right-icon.png');
}
.dgSpf-hero__swiper [class^="swiper-button-"]::after {
  content: '';
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  width: 60%;
  height: 60%;
  background-position: center;
  transform: translate(-50%, -50%);
}


/* SHIPPING */
.dgSpf-ship {
  background-color: var(--clr-accent);
  padding: 24px 0;
}
.dgSpf-ship::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background-color: var(--clr-black);
  top: 50%;
  z-index: -1;
  left: 0;
}
.dgSpf-ship__wrap ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.dgSpf-ship__single {
  display: flex;
  flex: 0 0 auto;
  width: 25%;
  background-color: var(--clr-accent);
  padding: 0 40px;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.dgSpf-ship__single .icon{
  position: relative;
  z-index: 1;
}
.dgSpf-ship__single .icon::before {
  position: absolute;
  content: '';
  width: 32px;
  height: 32px;
  background-color: #E0BC94;
  border-radius: 50%;
  z-index: -1;
  left: -5px;
  bottom: 0px;
}
.dgSpf-ship__single .icon img {
  height: 45px;
  object-fit: contain;
}
.dgSpf-ship__single p {
  font-size: 18px;
  line-height: 26px;
  color: #000;
  font-weight: 500;
}
.dgSpf-ship__single h5 {
  text-transform: uppercase;
  font-size: 13px;
  color: #000;
  letter-spacing: 1.2px;
  font-weight: 400;
  margin-bottom: 5px;
}